---
import DjangoIcon from "../components/icons/DjangoIcon.astro";
import NodeIcon from "../components/icons/NodeIcon.astro";
import PostgreIcon from "../components/icons/PostgreIcon.astro";
import ReactIcon from "../components/icons/ReactIcon.astro";
import MySQLIcon from "../components/icons/MySQLIcon.astro";
import TailwindIcon from "../components/icons/TailwindIcon.astro";
import NextIcon from "../components/icons/NextIcon.astro";
import { Dot, GithubLogo, LinkBreak } from "@phosphor-icons/react";
import AstroIcon from "../components/icons/AstroIcon.astro";

import { Image } from "astro:assets";
import pokedexImage from "../assets/pokedex.png";
import valentineImage from "../assets/valentine.png";
import weatherImage from "../assets/weather.png";
import musicImage from "../assets/music.png";
import cuteImage from "../assets/cute.png";
import gymImage from "../assets/gym.webp";
import RedisIcon from "../components/icons/RedisIcon.astro";
import PrismaIcon from "../components/icons/PrismaIcon.astro";
---

<section id="proyectos" data-section="proyectos" class="pt-20 pb-16">
  <span class="text-zinc-300 flex flex-row gap-4 items-center justify-start">
    <!-- <Bag size={28} weight="fill" /> -->
    <h2 class="text-3xl font-bold">Proyectos</h2>
  </span>
  <div class="flex flex-col gap-12 py-8">
    <article class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <span class="bg-zinc-900/50 backdrop-blur rounded-2xl overflow-hidden">
        <Image
          src={pokedexImage}
          alt="pokedex"
          class="w-full h-full object-cover transform transition-transform duration-300 hover:scale-110"
        />
      </span>
      <span class="flex flex-col justify-between gap-1">
        <h2 class="text-zinc-300 font-bold text-2xl">Pokedex - pokemon API</h2>
        <div class="py-2 flex flex-row gap-2 items-center justify-start">
          <button
            class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <ReactIcon name="react" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">react</span>
          </button>
          <button
            class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <TailwindIcon name="tailwind" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">tailwind</span>
          </button>
        </div>
        <span class="text-emerald-400 text-xs flex flex-row items-center">
          <Dot size={32} weight="bold" />
          <strong>finalizado</strong>
        </span>
        <p class="text-zinc-300">
          Pokedex es una aplicación web que permite buscar y visualizar
          información de los pokemones.
        </p>
        <div class="py-2 flex flex-row gap-8 items-center justify-start">
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <GithubLogo size={20} />
            <span class="text-xs font-bold">code</span>
          </button>
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <LinkBreak size={20} />
            <span class="text-xs font-bold">
              <a href="https://pokedex-manu.vercel.app/" target="_blank">
                preview
              </a>
            </span>
          </button>
        </div>
      </span>
    </article>
    <article class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <span class="bg-zinc-900/50 backdrop-blur rounded-2xl overflow-hidden">
        <Image
          src={valentineImage}
          alt="valentine"
          class="w-full h-full object-cover transform transition-transform duration-300 hover:scale-110"
        />
      </span>
      <span class="flex flex-col justify-between gap-1">
        <h2 class="text-zinc-300 font-bold text-2xl">
          Will you be my valentine?
        </h2>
        <div class="py-2 flex flex-row gap-2 items-center justify-start">
          <button
            class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <ReactIcon name="react" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">react</span>
          </button>
          <button
            class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <TailwindIcon name="tailwind" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">tailwind</span>
          </button>
        </div>
        <span class="text-emerald-400 text-xs flex flex-row items-center">
          <Dot size={32} weight="bold" />
          <strong>finalizado</strong>
        </span>
        <p class="text-zinc-300 text-pretty">
          Esta aplicación es alusiva al día de San Valentín, donde se el usuario
          no puede rechazar la propuesta.
        </p>
        <div class="py-2 flex flex-row gap-8 items-center justify-start">
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <GithubLogo size={20} />
            <span class="text-xs font-bold">code</span>
          </button>
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <LinkBreak size={20} />
            <span class="text-xs font-bold">
              <a
                href="https://will-you-be-my-valentine-plsss.vercel.app/"
                target="_blank"
              >
                preview
              </a>
            </span>
          </button>
        </div>
      </span>
    </article>
    <article class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <span class="bg-zinc-900/50 backdrop-blur rounded-2xl overflow-hidden">
        <Image
          src={weatherImage}
          alt="weather"
          class="w-full h-full object-cover transform transition-transform duration-300 hover:scale-110"
        />
      </span>
      <span class="flex flex-col justify-between gap-1">
        <h2 class="text-zinc-300 font-bold text-2xl">
          Geo Weather - clima API
        </h2>
        <div class="py-2 flex flex-row gap-2 items-center justify-start">
          <button
            class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <ReactIcon name="react" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">react</span>
          </button>
          <button
            class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <TailwindIcon name="tailwind" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">tailwind</span>
          </button>
        </div>
        <span class="text-emerald-400 text-xs flex flex-row items-center">
          <Dot size={32} weight="bold" />
          <strong>finalizado</strong>
        </span>
        <p class="text-zinc-300 text-pretty">
          Geo Weather es una aplicación web que permite buscar y visualizar
          información del clima de cualquier ciudad.
        </p>
        <div class="py-2 flex flex-row gap-8 items-center justify-start">
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <GithubLogo size={20} />
            <span class="text-xs font-bold">code</span>
          </button>
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <LinkBreak size={20} />
            <span class="text-xs font-bold">
              <a href="https://geoweather.vercel.app/" target="_blank">
                preview
              </a>
            </span>
          </button>
        </div>
      </span>
    </article>
    <article class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <span class="bg-zinc-900/50 backdrop-blur rounded-2xl overflow-hidden">
        <Image
          src={cuteImage}
          alt="cutetodo"
          class="w-full h-full object-cover transform transition-transform duration-300 hover:scale-110"
        />
      </span>
      <span class="flex flex-col justify-between gap-1">
        <h2 class="text-zinc-300 font-bold text-2xl">
          Todo List - lista de tareas
        </h2>
        <div class="py-2 flex flex-row gap-2 items-center justify-start">
          <button
            class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <ReactIcon name="react" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">react</span>
          </button>
          <button
            class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <TailwindIcon name="tailwind" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">tailwind</span>
          </button>
        </div>
        <span class="text-emerald-400 text-xs flex flex-row items-center">
          <Dot size={32} weight="bold" />
          <strong>finalizado</strong>
        </span>
        <p class="text-zinc-300 text-pretty">
          Todo List es una aplicación web que permite agregar, eliminar y marcar
          tareas como completadas.
        </p>
        <div class="py-2 flex flex-row gap-8 items-center justify-start">
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <GithubLogo size={20} />
            <span class="text-xs font-bold">code</span>
          </button>
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <LinkBreak size={20} />
            <span class="text-xs font-bold">
              <a href="https://todo-cute.vercel.app/" target="_blank">
                preview
              </a>
            </span>
          </button>
        </div>
      </span>
    </article>
    <article class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <span class="bg-zinc-900/50 backdrop-blur rounded-2xl overflow-hidden">
        <Image
          src={musicImage}
          alt="youtube-converter"
          class="w-full h-full object-cover transform transition-transform duration-300 hover:scale-110"
        />
      </span>
      <span class="flex flex-col justify-between gap-1">
        <h2 class="text-zinc-300 font-bold text-2xl">
          Convertidor de musica de youtube
        </h2>
        <div
          class="py-2 md:flex grid grid-cols-4 md:flex-row gap-2 items-center justify-start"
        >
          <button
            class="rounded-full col-span-2 flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <AstroIcon name="astro" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">astro</span>
          </button>
          <button
            class="rounded-full col-span-2 flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <TailwindIcon name="tailwind" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">tailwind</span>
          </button>
        </div>
        <span class="text-emerald-400 text-xs flex flex-row items-center">
          <Dot size={32} weight="bold" />
          <strong>finalizado</strong>
        </span>
        <p class="text-zinc-300 text-pretty">
          Convertidor de musica de youtube es una aplicación web que permite
          buscar y descargar música de youtube.
        </p>
        <div class="py-2 flex flex-row gap-8 items-center justify-start">
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <GithubLogo size={20} />
            <span class="text-xs font-bold">code</span>
          </button>
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <LinkBreak size={20} />
            <span class="text-xs font-bold">
              <a href="https://music-free.vercel.app/" target="_blank">
                preview
              </a>
            </span>
          </button>
        </div>
      </span>
    </article>
    <!-- gym -->
    <article class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <span class="bg-zinc-900/50 backdrop-blur rounded-2xl overflow-hidden">
        <Image
          src={gymImage}
          alt="gymratplus"
          class="w-full h-full object-cover transform transition-transform duration-300 hover:scale-110"
        />
      </span>
      <span class="flex flex-col justify-between gap-1">
        <h2 class="text-zinc-300 font-bold text-2xl">GymRat+</h2>
        <div
          class="py-2 md:flex grid grid-cols-4 md:flex-row gap-2 items-center justify-start"
        >
          <button
            class="rounded-full col-span-2 flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <NextIcon name="astro" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">nextjs</span>
          </button>
          <button
            class="rounded-full col-span-2 flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <PrismaIcon name="prisma" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">prisma</span>
          </button>
          <button
            class="rounded-full col-span-2 flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <RedisIcon name="redis" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">redis</span>
          </button>
          <button
            class="rounded-full col-span-2 flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
          >
            <TailwindIcon name="tailwind" class="w-4 h-4" />
            <span class="text-zinc-300 text-xs font-bold">tailwind</span>
          </button>
        </div>
        <span class="text-emerald-400 text-xs flex flex-row items-center">
          <Dot size={32} weight="bold" />
          <strong>finalizado</strong>
        </span>
        <p class="text-zinc-300 text-pretty">
          Aplicación de fitness para seguimiento de entrenamientos y nutrición
        </p>
        <div class="py-2 flex flex-row gap-8 items-center justify-start">
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <GithubLogo size={20} />
            <span class="text-xs font-bold">code</span>
          </button>
          <button
            class="flex text-zinc-300 flex-row gap-1 items-center justify-center"
          >
            <LinkBreak size={20} />
            <span class="text-xs font-bold">
              <a href="https://gymratplus.vercel.app/" target="_blank">
                preview
              </a>
            </span>
          </button>
        </div>
      </span>
    </article>
  </div>
</section>
